.wrapper
  .main_chat
    .RightHeader
      .RightHeader__GroupInfo
        .GroupName techcamp
        .GroupMember Member: masa
      .RightHeader__GroupEdit 
        .EditBtn Edit 
    .MessageList
      .MessageField
        .MessageBox
          .MessageInfo
            .MessageInfo__UserName masa
            .MessageInfo__date 2019/11/20(Wed) 17:43:01
          .message
            %p.message__MessageContent おはよう！
        .MessageBox
          .MessageInfo
            .MessageInfo__UserName masa
            .MessageInfo__date 2019/11/20(Wed) 17:44:00
          .message
            %p.message__MessageContent aaaa

    .MessageForm
      %form.Form
        .form_contents
          %input.Form__InputContent{type:"text",placeholder:"type a message"}
          %label.Form__InputImage
            =icon('fas', 'image')
            %input.Hidden{type:"file"}
        %input.Form__submit{type:"submit",value:"Send"}

        