.wrapper
  .side_bar
    .LeftHeader
      .LeftHeader__list
        %b.LeftHeader__UserName masa
        .LeftHeader__IconList
          =icon('far', 'edit')
          =icon('fas', 'cog')
    .GroupList
      .GroupList__GroupName techcamp
      .GroupList__GroupMessage まだメッセージがありません
