.wrapper
  .side_bar
    .side_bar__user_name
      .top_items
        %b.name masa
        .icon
          .icon_edit
          =icon('far', 'edit')
          .icon_cog
          =icon('fas', 'cog')
    .side_bar__group_list
      .group_name techcamp
      .group_message まだメッセージがありません
