.wrapper{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  .side_bar{
    width: 300px;
    background-color: #253141;
    color: #ffffff;
    .LeftHeader{
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__list{
        height: 20px;
        width: calc(100% - 40px);
        justify-content: space-between;
        display: flex;
        &__UserName{
          font-size: 16px;
        }
        .LeftHeader__iconList{
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          text-decoration: none;
          .new_group_icon{
            color: #ffffff;
            padding-right: 5px;
          }
          .edit_icon{
            color: #ffffff;
          }
        }
      }
    }
    .GroupList{
      height: calc(100vh - 100px) ;
      background-color: #2f3e51;
      padding: 0 20px;
      color: #ffffff;
      .Group{
        height: 100px;
        color: #ffffff;
        text-decoration: none;
        .GroupName{
          height: 35px;
          font-size: 15px;
          padding-top: 20px;
          color: #ffffff;
        }
        .GroupMessage{
          height: 56px;
          font-size: 11px;
          padding: 5px 0 5px 0;
          color: #ffffff;
        }
      }
    }
  }
  .main_chat{
    width: calc(100vw - 300px);
    background-color: #ffffff;
    .RightHeader{
      border-bottom: #eeeeee;
      display: flex;
      justify-content: space-between;
      margin-left: 35px;
      &__GroupInfo{
        text-decoration: none;
        .GroupName{
          font-size: 20px;
          color: #333333;
          margin-top: 35px;
        }
        .GroupMemberList{
          font-size: 12px;
          color: #999999;
          list-style: none;
          margin-top: 15px;
          display: flex;
          .GroupMember{
            font-size: 12px;
            color: #999999;
            display: list-item;
            padding-left: 5px;
          }
        }
      }
      .EditBtn{
        height: 40px;
        width: 30px;
        margin-right: 40px;
        margin-top: 28px;
        padding: 0 20px;
        border: solid 1px #38aef0;
        font-size: 16px;
        color: #38aef0;
        line-height: 40px;
        text-decoration: none;
      }
    }
    .MessageList{
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
      .MessageField{
        height: calc(100% - 35px);
        margin: 0 40px 0 40px ;
        padding-top: 35px;
        .MessageBox{
          margin-bottom: 46px;
          .MessageInfo{
            display: flex;
            &__UserName{
              color: #333333;
              font-size: 16px;
              font-weight: bold;
            }
            &__date{
              font-size: 12px;
              color: #999999;
              margin-left: 10px;
            }
          }
          .message{
            margin-top: 12px;
            font-size: 14px;
            color: #434A54;
          }
        }
      }
       
    }
    .MessageForm{
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
      justify-content: center;
      .Form{
        height: 50px;
        width: calc(100% - 80px);
        display: flex;

        .Form__contents{
          width: calc(100% - 15px - 100px);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .Form__inputContent{
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 10px;
          }
          .Form__inputImage{
            position: absolute;
            right: 10px;
            .Hidden{
              display: none;
            }
          }
        }
        .Form__submit{
          width: 100px;
          margin-left: 15px;
          background-color: #38aef0;
          color: #ffffff;
          font-size: 16px;
          border: none;
        }

      }
    }
  }
}
